.App {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;

    background-color: var(--background-secondary);
    padding: 0;
    min-height: 100vh;

    color: var(--text-soft);

    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.55);
}

#Name{
    overflow: hidden;
    font-weight: 300;
    animation: introName .5s ease-in-out backwards;
}

@keyframes introName{
    from{
        transform: translateY(250%);
        scale: .25;
    }
    to{
        transform: translateY(0);
        scale: 1;

    }
}

#JobTitle{
    font-weight: 200;
    animation: introJob .5s .25s ease-in-out backwards;

}

@keyframes introJob{
    from{
        transform: translateY(-250%);
        scale: .25;
       
    }
    to{
        transform: translateY(0);
        scale: 1;

    }
}

#NameDivider{
    opacity: 1;
    margin: 0 auto;
    height: 3px;
    border-color: var(--text-muted);
    animation: introGlow .25s .7s backwards;
}

@keyframes introGlow{
    from{
        box-shadow: 20px 20px 25rem var(--spotlight);
        border-color: var(--text);
        border-width: 3px;
    }
    to{
        box-shadow: none;
        border-width: 1px;

        border-color: var(--text-muted);
    }
}

.ProjectLink, .ProjectLink h5{
    color: var(--text);
    transition: all .25s;
    font-weight: 400;
    text-decoration: none;
}

.ProjectLink i{
    display: inline-block;
    transform: translateY(3px);

}

.ProjectLink:hover, .ProjectLink:hover h5{
    color: var(--font-green) !important;
}


.ProjectBox .png{
    display: block;
}

.ProjectBox:hover .png{
    display: none;
}

.ProjectBox .gif{
    display: none;
}

.ProjectBox:hover .gif{
    display: block;
}

.ProjectBox img{
    object-fit: cover;
}

.ProjectImage{
    width: 35%;
}

.ProjectText{
    width: 65%;
}

@media (max-width: 768px) {

    .ProjectImage{
        width: 85%;
        margin-top: 35px;
    }

    .ProjectText{
        width: 100%;
    }
    
}

#content {
    width: 60%;
    left: 27.5vw;
    background-color: var(--background-thrice);
    box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.55);
}

@media (max-width: 768px) {
    #content {
        box-shadow: -1rem -1rem 3rem rgba(0, 0, 0, 0.33), 1rem 1rem 3rem rgba(0, 0, 0, 0.33);

        width: 100%;
        left: 0;
    }
}



.DynamicContainer {
    position: fixed;
}

@media (max-width: 768px) {
    .DynamicContainer {
        position:relative;
        width: 100% !important;
        padding: 5% 10px;
        inset: 0 !important;
        box-sizing: border-box;
    }
}

.SectionBox{
    color: var(--text-soft);
    padding: 1rem;
}


.SectionTitle{
    text-align: center;
    color: var(--text);
}

.SectionTitle::after{
    content: "";

    display: block;
    margin: 12px 0 30px 0;
    
    width: 100%;
    height: 1px;
    background-color: var(--text-muted);

}

.SubSectionBox {
    min-width: 250px;
    max-width: 600px;

    min-height: 200px;

    border-radius: 15px;
    transition: all .25s;

    color: var(--text-soft);

    background-color: var(--background-light);

    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.33);
    transition: all .25s;
}

.SubSectionBox:hover{
    box-shadow: 0px 0px 30px var(--spotlight);
}

.SubSectionBox h5{
    color: var(--text);
}


.SelectedBox{
    width: 100%;
    background-color: var(--background-lighter) !important;
}

.MutedBox {
    opacity: 0.5;
    filter: brightness(.85)
}

.highlighted-text{
    cursor: pointer;
    display: inline-block;
}

.highlight{
    color: var(--text);
    transition: color .33s;
    font-weight: 600;
    display: inline-block;    
}

.highlighted-text:hover .highlight{
    color: var(--font-green);
    animation: hop .15s calc(var(--index)*0.025s) forwards linear;
}

@keyframes hop{
    0%, 100%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-5px);
    }
}

@media (max-width: 768px) {
    .highlight {
        display: inline;
    }
    .highlighted-text{
        display: inline;
    }
}


#menu li {
    --color: var(--text-soft);
    --size: 30px;
    margin: 30px 0px;
    width: 95px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
    color: var(--color);
    text-transform: uppercase;
    transition: all .2s;
    font-size: .9rem;
}

#menu li:hover,
#menu li#selected {
    --color: #eee;
    --size: 50px;
    font-weight: 700;
}

#menu li::after, #menu li#selected::after  {
    content: "";
    width: 0;
    height: 1px;
    margin: 5px 20px 5px -10%;
    display: block;
    background-color: var(--color);
    transition: width .2s;
}

#menu li:hover::after, #menu li#selected::after {
    width: 110%;
}

.TaggedText {
    color: #21F5A0;
    background-color: #09463D;
    font-size: 0.8rem;
    user-select: none;
    cursor: pointer;
}

.ExpandingIcon {
    width: 2.5rem;
    border-radius: 25px;

    margin: 10px 0px;

    color: var(--text-muted);

    overflow: hidden;
    cursor: pointer;
    user-select: none;


    transition: all .25s;
}

.ExpandingIcon i {
    padding: 0.35rem 0.5rem;
    margin-left: .2rem;
    margin-right: .2rem;

    animation: intro-up .175s calc(calc(var(--index)*.125s) + 1s) backwards ease-out;
}

.ExpandingIcon p {
    margin-top: 12px;
    text-align: center;
    width: 50%;
}


.ExpandingIcon:hover {
    width: 8.5rem;
    color: var(--text);
    background-color: var(--background-lightest);
}

.ExpandingIcon:hover i {
    padding: 0.35rem 0.5rem;
    margin-left: .2rem;
}

#IconLine{
    opacity: 1;
    background-color: var(--text-muted);
    animation: intro-up .2s .75s backwards ease-in;
}


@keyframes intro-up {
    from{
        opacity: 0;
        transform: translateY(100%);

    }
    to{
        opacity: 1;
        transform: translateY(0);

    }
}

@keyframes spin {
    to {
        rotate: -360deg;
    }
}

@media (max-width: 768px) {
    .ExpandingIcon {
        margin: 8px auto;
        width: 38%;
        background-color: var(--background-lightest);
        color: var(--text);
    }

    .ExpandingIcon:hover{
        width: 38%;
    }

    .ExpandingIcon i {
        animation:none;
    }

    .ExpandingIcon:hover i {
        padding: 0.35rem 0.5rem;
        margin-left: .2rem;
        animation: none;
    }
}

