:root{
    --background: #171f27;
    --background-secondary: #0F2335;
    --background-thrice: #192936;
    --background-thrice-transparent: #192936cf;
    
    
    --background-light: #192F40;
    --background-lighter: #1d3444;
    --background-lightest:#243949;
    
    --text-bright: #fff;
    --text: #eee;
    --text-soft: #c8cccc;
    --text-muted: #a8aaaa;

    --font-green: #05DA84;

    --spotlight: #5ED1FF73;

}

.text-white{
    color: var(--text-bright)
}

.bg-cyan{
    background-color: #0ba5a5 !important;
}

.bg-blue{
    background-color: #1b88bb !important;
}

.bg-green{
    background-color: #0fb173 !important;
}

.bg-turq{
    background-color: #07aaa2 !important;
}

